@use "@angular/material" as mat;

.container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.post-wrapper {
  text-align: center;
  margin-top: 10vh;
  padding: 20px;
  background-color: var(--secondary-clr);
  color: white;
  @include mat.elevation(8);

  & h1 {
    margin-bottom: 5vh;
  }
}

mat-spinner,
.back {
  position: absolute;
}

mat-spinner {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
}

.back {
  top: 10%;
  right: 10%;
  color: var(--primary-clr);
}
