<mat-toolbar>
  <h1>Effective Mobile test</h1>
  <div class="buttons" *ngLet="isOnAuthPages() as isOnAuthPages">
    <button *ngIf="!isOnAuthPages && auth.logged" mat-stroked-button (click)="auth.logout()">Выход</button>
    <button *ngIf="isOnAuthPages" mat-stroked-button [routerLink]="RoutePaths.AUTHORIZATION" [routerLinkActive]="'active'">Войти</button>
    <button *ngIf="isOnAuthPages" mat-stroked-button [routerLink]="RoutePaths.REGISTRATION" [routerLinkActive]="'active'">Зарегистрироваться</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
